<template>
	<div id="controller">
		<div class="panel">
			<div class="panel-body">
				Question: {{ quiz.currentQuestion }}<br>
				<strong>{{ question.title }}</strong>
			</div>
		</div>
		<a href="#" @click.prevent="submitAnswer" id="correct-answer" class="btn btn-answer btn-block btn-lg" :class="{ 'disabled': questionAnswered }">Yes</a>
		<a href="#" @click.prevent="submitAnswer" id="incorrect-answer" class="btn btn-answer btn-block btn-lg" :class="{ 'disabled': questionAnswered }">No</a>
	</div>
</template>

<script>
	import QuestionStore from '../store/questions'
	import AppStore from '../store/app'
	import QuizStore from '../store/quiz'

	export default {

		data () {
			return {
				quiz: {
					currentQuestion: 0
				},
				question: {
					title: ''
				},
				questionAnswered: false
			}
		},

		methods: {

			submitAnswer (e) {
				this.questionAnswered = true

				let answer = e.currentTarget.getAttribute('id').split('-')[0]
				let correctAnswer = answer == this.question.answer

				QuestionStore.submitAnswer(this.question.id, correctAnswer)

				e.target.blur()
			}

		},

		created () {
			QuizStore.changes().subscribe(result => { 
				this.quiz = result[0]
				
				QuestionStore.find({ id: this.quiz.currentQuestion }).subscribe(result => {
					this.questionAnswered = false
					this.question = result
				})
			})
		}

	}
</script>

<style lang="stylus">
	#controller
		height: 100%
		background-color: #F8F8F8
		display: flex
		flex-direction: column
		justify-content: space-around
		padding: 40px

	.btn-answer
		color: #FFF
		height: 40%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

	#correct-answer
		background-color: green

	#incorrect-answer
		background-color: red
</style>