<template>
	<div id="host-remote" class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<!-- <a href="#" @click.prevent="setup" class="btn btn-primary btn-block btn-lg" :class="{ 'disabled': app.data.setup }">Setup Quiz</a> -->
				<a href="#" @click.prevent="reset" class="btn btn-danger btn-block btn-lg">Restart</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h4>Current Question: {{ quiz.currentQuestion }}</h4>
				<a href="#" @click.prevent="nextQuestion" class="btn btn-success btn-block btn-lg">Next Question</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<ul>
					<li v-for="question in questions">
						<h5>Question {{ question.number }}:</h5>
						{{ question.title }}<br>
						<strong>Answers:</strong> {{ question.answers.total }}<br>
						<strong>Correct:</strong> {{ question.answers.correct }}
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	import QuestionStore from '../store/questions'
	import AppStore from '../store/app'
	import QuizStore from '../store/quiz'

	export default {

		data () {
			return {
				app: AppStore,
				quiz: {
					currentQuestion: 0
				},
				questions: []
			}
		},

		methods: {
			setup () {
				if(!this.app.data.setup)
				{
					QuestionStore.seed()
					QuizStore.seed()

					AppStore.finishSetup()
				}
				else
				{
					console.warn('App already setup')
				}
			},

			reset () {
				QuestionStore.reset()
				QuizStore.reset()
			},

			nextQuestion () {
				QuizStore.nextQuestion()
			}
		},

		created () {
			QuestionStore.fetch().subscribe(results => {
				if(results.length)
				{
					AppStore.finishSetup()	
				}
			})

			QuestionStore.changes().subscribe(results => { 
				this.questions = results

				if(this.questions.length && this.questions[0].id != 1)
					this.questions.reverse()
			})

			QuizStore.changes().subscribe(result => { 
				this.quiz = result[0]
				console.log('ch ch ch changes!', this.quiz)
			})
		}

	}
</script>

<style lang="stylus">
	#host-remote
		background-color: #F8F8F8
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 40px	
</style>